body {
  /* 가운데 정렬 */
  text-align: center;
}

div {
  width: 200px;
  height: 200px;
  background-color: orangered;
  /* 좌우 남은 공간을 자동으로 채우는 방식 단, block 요소일 때만 가능 */
  margin: 0 auto;
  /* display: inline-block; */
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
}

.circle {
  width: 300px;
  height: 300px;
  font-size: 5em;
  color: white;
  text-align: center;
  border: 2px solid black;
  border-radius: 50%;
  line-height: 300px;
}
