/*  width, height : auto(기본값), px, em, rem, vw, vh, %  

    화면 기준으로 단위 사용
    vw : viewport width
    vh : viewport height
    
    블록요소
    width : auto = 100%
    height : auto = 0

    max-width, min-width : width 속성을 재정의
    min-width : 부모가 줄어들더라도 자식의 최소 크기를 제한
    max-width : 부모가 늘어나더라도 자식의 최대 크기를 제한

*/
* {
  margin: 0;
  padding: 0;
}

.parent {
  width: 100%;
  height: 300px;
  border: 1px solid red;
}

.child {
  width: 100%;
  max-width: 600px;
  min-width: 200px;
  height: 200px;
  background-color: orange;
}
