body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header h1 {
  font-size: 3em;
  text-align: center;
}

#menus > div {
  height: 400px;
  position: relative;
}

#menus h2 {
  padding: 5px;
  font-size: 2em;
  color: white;
  text-shadow: 3px 3px 5px black;
  position: absolute;
  right: 3%;
  bottom: 10px;
}

#menu1 {
  background: url(../images/dish1.jpg) no-repeat center;
  background-size: cover;
}

#menu2 {
  background: url(../images/dish2.jpg) no-repeat center;
  background-size: cover;
}

#menu3 {
  background: url(../images/dish3.jpg) no-repeat center;
  background-size: cover;
}

#menu4 {
  background: url(../images/dish4.jpg) no-repeat center;
  background-size: cover;
}

#menu5 {
  background: url(../images/dish5.jpg) no-repeat center;
  background-size: cover;
}

footer {
  background-color: blueviolet;
  font-size: 1.2em;
  color: #eee;
  text-align: center;
  height: 200px;
}

@media screen and (min-width: 768px) {
  #menus {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #menu1,
  #menu2,
  #menu3,
  #menu4 {
    width: 49%;
  }
  #menu5 {
    width: 100%;
    margin-left: 0;
    flex: initial;
  }
}

@media screen and (min-width: 992px) {
  #menu1,
  #menu2,
  #menu3,
  #menu4,
  #menu5 {
    width: 33%;
  }

  #menu5 {
    flex: 2 2 0;
    margin-left: 0.5%;
  }
}
