/* 
    background
        1) color
        2) image
            - url() : 이미지 경로 지정
        3) repeat : 이미지 반복 여부
            - repeat (default)
            - repeat-x, repeat-y, no-repeat
            - space, round
        4) postion : no-repeat일 때의 이미지의 위치
            - top left (default)
            - top, bottom, left, right, center
        5) size
            - auto (default)
            - contain : 전체 배경 영역에서 이미지의 한쪽의 긴 부분을 기준으로 맞춤
                = no-repeat, center (repeat, postion)
            - cover : 여백공간 없이 전체 배경을 채워버림, 이미지가 짤릴 수 있음
                = center (position)
            - 100%, 100px 등 가로 세로 길이 따로 지정 가능
        6) attachment : 배경 이미지가 요소를 따라 스크롤 여부 결정
            - scroll (default)
            - fixed : 배경 이미지가 뷰포트에 고정되어 요소와 같이 스크롤 되지 않음
            - local
*/

div {
  width: 464px;
  height: 328px;
  background-image: url(../images/orange-tile.png);
  /* background-image: url(../images/landscape.jpg); */
  background-repeat: no-repeat;
  background-position: center;
  /* background-size: cover; */
}

body {
  background-image: url(../images/orange-tile.png);
  background-repeat: no-repeat;
  background-attachment: local;
}
