* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 700px;
    border: 2px double darkcyan;
    flex-direction: column;

    justify-content: space-around;
}

.container div {

    width: 200px;
    height: 100px;
    border: 2px dashed black;
    /* display: inline-block; */


}

.container div:first-child {
    background-color: darkmagenta;
}

.container div:nth-child(2) {
    background-color: darkgoldenrod;
}

.container div:nth-child(3) {
    background-color: darkorange;
}

.container div:nth-child(4) {
    background-color: darkkhaki;
}

.container div:nth-child(5) {
    background-color: darkgreen;
}

.container div:last-child {
    background-color: brown;
}