* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 400px;
    border: 2px double darkcyan;
    /* flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start; */
    flex-wrap: wrap;
    align-items: baseline;
}

.container div {

    width: 120px;
    height: 100px;
    border: 2px dashed black;
    /* display: inline-block; */

}

.container div:first-child {
    background-color: darkmagenta;
}

.container div:nth-child(2) {
    background-color: darkgoldenrod;
}

.container div:nth-child(3) {
    background-color: darkorange;
    font-size: 30px;
}

.container div:nth-child(4) {
    background-color: darkkhaki;
    height: 80px;
}

.container div:nth-child(5) {
    background-color: darkgreen;
    height: 60px;
}

.container div:last-child {
    background-color: brown;
}