/* 
    position : 요소들이 어떻게 배치될 것인가
     - 기본 배치 방식은 태그 작성 순서, 요소의 속성(block, inline)따라감
     - position: static (default)
     - position: fixed;
        - 기준 : viewport
        - 위치 : 화면의 좌측 상단이 기본값
                 위치 지정 필요 : top, bottom, left, right
        - 스크롤에 영향 받지 않음
*/

.grand-parent {
  width: 800px;
  height: 500px;
  border: 2px dashed lightgrey;
}

.parent {
  width: 500px;
  height: 400px;
  border: 2px dashed gray;
}

.child {
  width: 100px;
  height: 100px;
  background-color: tomato;
  font-size: 30px;
  border: 1px solid black;
}

.fixed {
  position: fixed;
  right: 100px;
  bottom: 100px;
}
