/* slide
    border
    width 800, height 300
    가운데 정렬
    안쪽여백 10
*/
.slide {
  border: 2px solid green;
  width: 800px;
  height: 500px;
  /* 가운데 정렬 */
  margin: 0 auto;
  padding: 10px;
  position: relative;
}

.slide img {
  width: 300px;
  height: 200px;
  float: left;
}

/*  a
    배경색 #333
    줄높이 50
    글자색 white
*/

.controls a {
  background-color: #333;
  line-height: 50px;
  color: white;
  position: absolute;
  top: calc(50%);
  white-space: nowrap;
}

.controls .prev {
  right: 100%;
}

.controls .next {
  left: 100%;
}
