/* 
    position : 요소들이 어떻게 배치될 것인가
     - 기본 배치 방식은 태그 작성 순서, 요소의 속성(block, inline)따라감
     - position: static; (default)
     - position: fixed;
        - 기준 : viewport
        - 위치 : 화면의 좌측 상단이 기본값
                 위치 지정 필요 : top, bottom, left, right
        - 스크롤에 영향 받지 않음 (스크롤을 따라 움직임)
     - position: relative;
        - 기준 : 원래 있던 위치
        - 위치 지정 시 기존 위치를 기준으로 이동
        - 다른 요소에 영향을 주지 않음
     - position: absolute;
        - 기준 : viewport (미지정 시)
                 static이 아닌 부모 요소 지정하면 기준이 변경됨
                 부모 요소는 대부분 position: relative;로 사용
        - 위치 : top, bottom, left, right
        - 부모 요소를 기준으로 배치
     - position: sticky;
        - 기준 : 스크롤 영역
        - 위치 : top, bottom, left, right
*/

.section {
   height: 200px;
   border: 2px dashed lightgrey;
}

.section h1 {
   position: sticky;
   top: 0;
}