/* 
    css 단위
    1) px : 고정값
    2) em : em 단위가 쓰인 곳의 폰트크기 배수
    3) rem : 문서의 폰트 기본값의 배수
    4) % : 상대적인 값
*/

html {
  font-size: 14px;
}

div {
  /* 현재 폰트크기에서 2배 커짐 */
  font-size: 2em;
}
div p {
  /* 기본 폰트크기에서 2배 커짐 */
  font-size: 2rem;
}

p {
  width: 80%;
}
